<div class="mt-4">
    <h3>Create Courses</h3>

    <form method="POST" action="/courses/store">

        <div class="mb-3">
            <label for="name" class="form-label">Courses name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Courses Detail</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Courses Image</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>

        <div class="mb-3">
            <label for="videoID" class="form-label">Courses VideoID</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>

        <div class="mb-3">
            <label for="level" class="form-label">Courses Level</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>